// fonts
$default-fonts: Arial, sans-serif
//=sans
	font-family: 'Open Sans', $default-fonts
+font('Museo Sans Regular', 'MuseoSansRegular')
+font('Museo Sans Black', 'MuseoSansBlack')
=museo
	font-family: 'Museo Sans Regular', $default-fonts
=museo-b
	font-family: 'Museo Sans Black', $default-fonts

// colors
$white: #ffffff
$black: #1e1e1e
$dimgrey: dimgrey
$orange: #ff8400
$grey: #6c6c6c
$orange-dark: #f26924
$grey-light: #cecdcd
$grey-text: #434444


/* ===================================
	 Main Styles
	 =================================== */
body
	position: relative
	min-width: 320px
	font-size: 16px
	font-family: 'PT Sans', $default-fonts
	//color: $grey-text
	font-weight: normal
	line-height: 1.857143

.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	padding-bottom: 87px
	+r(767)
		padding-bottom: 41px

.container
	+container
	+gutter
	//transition: all 0.3s
	&_default
		padding-left: 0
		padding-right: 0
		
.main
	padding-top: 167px
	position: relative
	z-index: 1
	background-color: #ffffff
	transition: all 0.5s
	+r(1023)
		padding-top: 0


/* Helpers
	----------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6
	margin-top: 0
	margin-bottom: 0
	font-weight: normal

button
	background-color: transparent

a:hover, a:focus
	text-decoration: none

a
	color: inherit
	text-decoration: none

table
	vertical-align: top

img
	vertical-align: top

.icon
	display: inline
	vertical-align: middle

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.cfx
	+pie-clearfix
	
video
	+r(1024)
		display: none

// *
// 	+selection
// 		color: #fff
// 		background-color: $red

.none
	padding-top: 60px
	+ratio-in
	height: 100vh
	font-size: 0
	background-color: #f3f3f3
	padding-left: 10px
	padding-right: 10px
	text-align: center
	+r(767)
		padding-top: 25px
	&__logo
		font-size: 0
		.icon
			font-size: 58px
			color: #f26924
	&__404
		+museo
		font-size: 300px
		color: #ffffff
		line-height: 135px
		+vcenter
		+r(767)
			font-size: 160px
	&__text
		max-width: 544px
		margin-left: auto
		margin-right: auto
		+museo
		font-size: 25px
		color: #727272
		line-height: 40px
		+vcenter
		+r(767)
			width: 65%
			font-size: 14px
			line-height: 24px
	&__footer
		position: absolute
		left: 10px
		right: 10px
		bottom: 60px
		font-size: 16px
		color: #ff8400
		line-height: 28px
		font-style: italic
		+r(767)
			bottom: 25px
			font-size: 12px
			line-height: 20px

/* ===================================
	 Header
	 =================================== */
.header
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 11
	+r(1023)
		position: relative
		z-index: 0
	&__container
		position: relative
		+r(1023)
			width: 100%
			margin: 0
			padding-left: 0
			padding-right: 0
	&__footer
		transform: translateY(0)
		transition: all 0.2s
	&__top
		position: relative
		z-index: 1
		font-size: 0
		padding-top: 23px
		padding-bottom: 19px
		background-color: #ffffff
		transition: transform 0.5s, background-color 0.2s
		+r(1023)
			padding-top: 8px
			padding-bottom: 8px
			background-color: #ff7b38
	&__col
		+span(3 no-gutters)
		display: inline-block
		float: none
		vertical-align: middle
		+r(1023)
			+span(2 no-gutters)
		&:nth-child(2)
			overflow: hidden
			transition: all 0.2s
			white-space: nowrap
			+r(1023)
				+pre(33px)
		&:nth-child(3),
		&:nth-child(4)
			text-align: center
		&:nth-child(3)
			+r(1023)
				float: right
				width: auto
				padding-left: 0
				padding-right: 0
				text-align: right
		&:nth-child(4)
			+r(1023)
				display: none
		&:nth-child(5)
			text-align: right
			+r(1023)
				display: none
	&__logo
		display: inline-block
		vertical-align: middle
	&__phone
		display: inline-block
		+r(1023)
			margin-top: 8px
		&-text
			display: inline-block
			margin-left: 15px
			+museo-b
			font-size: 18px
			color: #555555
			line-height: 1
			vertical-align: middle
			+r(1023)
				+museo
				font-size: 16px
				color: #ffffff
		.icon
			font-size: 29px
			color: #ffb238
			vertical-align: middle
			+r(1023)
				font-size: 21px
	&__mail
		display: inline-block
		&-text
			display: inline-block
			margin-left: 15px
			+museo
			font-size: 14px
			color: #555555
			line-height: 1
			text-decoration: underline
			vertical-align: middle
		.icon
			font-size: 22px
			color: #ffb238
			vertical-align: middle
	&__button
		text-align: right
	&__footer
		background-color: #ff7b38
	&_form &__col
		&:nth-child(2)
			+pre(2)
		&:nth-child(3),
		&:nth-child(4)
			text-align: left
		&:nth-child(5)
			display: none
	&__btn
		text-transform: uppercase
		
/* Scroll
	----------------------------------- */
.header
	&.is-scroll
		pointer-events: none
		transform: translateY(0)
		transition: transform 0.5s
		.logo__img
			.icon
				font-size: 54px
				color: #ffffff
		.logo__text
			display: none
		.hamburger
			display: block
			position: absolute
			top: 10px
			right: 50%
			margin-right: -600px
			+r(1199)
				right: 0
				margin-right: 0
	&.is-scroll &__top
		pointer-events: auto
		padding-top: 10px
		padding-bottom: 10px
		background-color: #ff7b38
	&.is-scroll &__footer
		pointer-events: auto
		z-index: 0
		transform: translateY(-60px)
		pointer-events: none
		background-color: #fb6b21
		&.is-bottom
			@media screen and (min-width: 1024px)
				pointer-events: auto
				transform: translateY(0)
				transition: all 0.2s
	&.is-scroll &__col
		&:nth-child(2)
			+span(1)
			padding-left: 0
			padding-right: 0
			display: inline-block
			float: none
	&.is-scroll &__phone
		&-text
			color: #ffffff
	&.is-scroll &__mail
		&-text
			color: #ffffff
		
.btn
	display: inline-block
	padding: 12px 35px 11px
	+museo-b
	font-size: 13px
	color: #ffffff
	line-height: 1.4
	border-radius: 22px
	border: 2px solid transparent
	&_yellow
		background-color: #ffba00
		border: 2px solid #ffba00
		transition: all 0.2s
		&:hover
			background-color: $orange
			border-color: $orange
	&_lg
		padding-top: 14px
		padding-bottom: 12px
		font-size: 16px
		text-transform: uppercase
		border-radius: 26px
	&_transparent
		padding-top: 21px
		padding-bottom: 20px
		+museo-b
		font-size: 20px
		line-height: 30px
		text-transform: uppercase
		border: 4px solid #ffffff
		border-radius: 40px
		transition: all 0.2s
		&:hover
			background-color: $orange

.logo
	font-size: 0
	&__link
		display: block
	&__img
		display: inline-block
		vertical-align: middle
		.icon
			font-size: 67px
			color: $orange-dark
			+r(1023)
				font-size: 36px
				color: #ffffff
	&__text
		overflow: hidden
		position: relative
		display: inline-block
		margin-left: 12px
		vertical-align: middle
		width: 140px
		transition: all 0.2s
		+r(1023)
			display: none
		.icon
			font-size: 18px
			color: #3f2120
		
.menu
	display: flex
	flex-direction: row
	justify-content: space-around
	padding-top: 20px
	padding-bottom: 18px
	font-size: 16px
	color: #ffffff
	line-height: 20px
	text-align: center
	+r(1023)
		text-align: left
	&__link
		position: relative
		flex: 1 1 auto
		margin-left: 38px
		margin-right: 38px
		+r(1199)
			margin-left: 0
			margin-right: 0
		&.is-active
			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 50%
				height: 2px
				background-color: #fff
				+r(1023)
					content: none
					display: none

@media screen and (min-width: 1024px)
	.menus
		position: absolute
		z-index: 10
		top: 100%
		right: 10px
		left: 10px
		padding-top: 30px
		padding-bottom: 40px
		background-color: #e36f34
		font-size: 14px
		color: #ffffff
		line-height: 20px
		column-count: 3
		&:before
			content: ''
			position: absolute
			z-index: 10
			top: 0
			bottom: 0
			right: 100%
			width: 100%
			background-color: #e36f34
		&:after
			content: ''
			position: absolute
			z-index: 10
			top: 0
			bottom: 0
			left: 100%
			width: 100%
			background-color: #e36f34
		&__link
			position: relative
			display: block
			padding: 8px 40px 7px 14px
			transition: all 0.2s
			&:before
				content: ''
				position: absolute
				z-index: 1
				left: 0
				top: 15px
				width: 4px
				height: 4px
				border-radius: 50%
				background-color: #ffffff
				transition: all 0.2s
			&:hover
				color: #ffba00
				&:before
					background-color: #ffba00

.menus
	display: none
	+r(1023)
		margin-top: 40px
		position: relative
		+museo
		color: $black
		line-height: 25px
	&__link
		+r(1023)
			position: relative
			display: block
			padding: 10px 26px
		
.hamburger
	pointer-events: auto
	display: none
	padding: 10px
	position: absolute
	z-index: 10
	right: 0
	cursor: pointer
	transition-property: opacity, -webkit-filter
	transition-property: opacity, filter
	transition-property: opacity, filter, -webkit-filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 12px 0 0 -10px
	overflow: visible
	+r(1023)
		display: block
		float: left
		position: relative
		right: auto
		margin-top: 1px
		margin-left: -10px
	&:hover
		opacity: 0.7
	&__box
		width: 23px
		height: 16px
		display: block
		position: relative
	&__inner
		display: block
		top: 50%
		margin-top: -1px
		width: 23px
		height: 2px
		background-color: #ffffff
		position: absolute
		transition-property: -webkit-transform
		transition-property: transform
		transition-property: transform, -webkit-transform
		transition-duration: 0.15s
		transition-timing-function: ease
		+r(1023)
			background-color: #ffffff
		&::before, &::after
			width: 23px
			height: 2px
			background-color: #ffffff
			position: absolute
			transition-property: -webkit-transform
			transition-property: transform
			transition-property: transform, -webkit-transform
			transition-duration: 0.15s
			transition-timing-function: ease
			+r(1023)
				background-color: #ffffff
		&::before, &::after
			content: ""
			display: block
		&::before
			top: -7px
		&::after
			bottom: -7px
	&_spin &__inner
		transition-duration: 0.3s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in
		&::after
			transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19)
	&.is-active &__inner
		-webkit-transform: rotate(225deg)
		transform: rotate(225deg)
		transition-delay: 0.14s
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
		&::before
			top: 0
			opacity: 0
			transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out
		&::after
			bottom: 0
			-webkit-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
			transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
		
.side
	+r(1023)
		display: flex
		flex-wrap: nowrap
		flex-direction: column
		align-items: flex-start
		overflow-y: scroll
		position: fixed
		z-index: 0
		top: 0
		left: 0
		bottom: 0
		width: 260px
		background-color: #f6f6f6
		padding: 26px 0
	&__row
		+pie-clearfix
	&__inner
		+r(1023)
			margin-bottom: 50px
			align-self: stretch
			transition: all 0.2s
	&__btn
		display: none
		+r(1023)
			display: block
			flex: auto 0 0
			align-self: stretch
			margin: auto 36px 26px 26px
			padding: 13px 0 10px
			text-align: center
			+museo-b
			font-size: 13px
			background-color: #ffba00
			border: 2px solid #ffba00
			text-transform: uppercase
		&:after
			+r(1023)
				content: none
				display: none
		&:hover
			+r(1023)
				width: auto
	&__cont
		+r(1023)
			flex: auto 0 0
			align-self: stretch
			margin-left: 26px
	&__back
		display: none
		+r(1023)
			display: block
			position: absolute
			top: -53px
			left: 0
			padding-left: 26px
			width: 100%
			height: 53px
			+museo
			font-size: 16px
			color: #ffffff
			line-height: 53px
			text-align: left
			background-color: #1e1e1e
			transition: all 0.2s
		&.is-active
			+r(1023)
				top: 0
				transition: all 0.2s

.menu
	+r(1023)
		display: block
		padding-top: 0
		padding-bottom: 0
		position: relative
		+museo
		color: $black
		line-height: 25px
	&__link
		&.is-hover
			@media screen and (min-width: 1024px)
				&:after
					content: ''
					position: absolute
					top: 100%
					margin-top: 11px
					left: 50%
					margin-left: -12px
					+arr(24,7,#e36f34,t)
		+r(1023)
			position: relative
			display: block
			padding: 10px 26px
		&_parent
			&:before
				+r(1023)
					content: ''
					position: absolute
					right: 20px
					top: 50%
					margin-top: -2px
					+arr(3,5,$orange-dark,r)

.cont
	display: none
	+r(1023)
		display: block
	&__link
		display: block
		font-size: 0
		& + &
			margin-top: 3px
		&-text
			font-size: 14px
			color: #555555
			line-height: 24px
			vertical-align: middle
		.icon
			margin-right: 12px
			font-size: 21px
			color: #ffb238
			vertical-align: middle
		&_mail
			.icon
				font-size: 16px
	&__link
		&_mail &-text
			text-decoration: underline


/* ===================================
	 Footer
	 =================================== */
.footer
	position: relative
	z-index: 1
	margin-top: -87px
	height: 87px
	padding-top: 33px
	background-color: #ff7b38
	+r(767)
		padding-top: 10px
		height: 41px
		margin-top: -41px
	&__copy
		float: left
		font-size: 13px
		color: #ffffff
		font-weight: 400
		line-height: 25px
	&-nav
		float: right
		font-size: 0
		&__link
			display: inline-block
			margin-left: 6px
			width: 25px
			height: 25px
			background-color: #ffffff
			border-radius: 50%
			+vertical
			font-size: 0
			text-align: center
			.icon
				display: inline-block
				


/* ===================================
	 Main
	 =================================== */
.scrolling
	cursor: pointer
	position: fixed
	z-index: 10
	left: 10px
	bottom: 10px
	+r(639)
		display: none
.section
	padding-top: 30px
	padding-bottom: 30px
	+r(639)
		padding-top: 20px
		padding-bottom: 20px
	&_hr
		border-top: 1px solid #e2e2e2

.title
	color: $black
	&_h2
		+museo-b
		font-size: 40px
		line-height: 65px
		text-transform: uppercase
		+r(639)
			font-size: 35px
			line-height: 45px
	&_white
		color: #ffffff

/* ===================================
	 Blog
	 =================================== */
.blog
	&__start
		position: relative
		height: 668px
		max-height: calc(100vh - 167px)
		padding-top: 40px
		padding-bottom: 45px
		background: url('../img/content/blog-img.jpg') center center no-repeat
		background-size: cover
		+r(1199)
			height: 420px
			max-height: none
		+r(1023)
			padding-top: 20px
			height: 320px
		+r(479)
			height: auto
		&-container
			position: relative
			z-index: 1
		&:before
			content: ''
			pointer-events: none
			z-index: 0
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: rgba(63, 33, 32, .7)
		&-container
			position: relative
		&-link
			font-size: 13px
			color: #ffffff
			line-height: 26px
			text-decoration: underline
		&-title
			margin-top: 25px
			+museo-b
			font-size: 40px
			color: #ffffff
			line-height: 65px
			text-transform: uppercase
			+r(767)
				margin-top: 10px
				font-size: 35px
				line-height: 45px
	&__text
		margin-bottom: 20px
		+pre(1)
		+post(1)
		+gutter
		color: $dimgrey
		font-size: 14px
		line-height: 26px
		+r(1023)
			+pre(0)
			+post(0)
		&_center
			margin-bottom: 25px
			+pre(2)
			+post(3)
			+r(1023)
				+pre(0)
				+post(0)
		&_letter
			&::first-letter
				float: left
				margin-right: 10px
				+museo
				font-size: 70px
				color: #3d3d3d
				line-height: 1
				text-transform: uppercase
				vertical-align: bottom
				+r(1023)
					float: none
					margin-right: 0
					font-size: inherit
					color: inherit
					line-height: inherit
					text-transform: inherit
					vertical-align: inherit
	&__quote
		position: relative
		margin-bottom: 30px
		+pre(1)
		+post(1)
		+gutter
		font-size: 18px
		color: $dimgrey
		font-weight: 700
		line-height: 28px
		font-style: italic
		+r(1023)
			+pre(2)
			+post(0)
		+r(767)
			font-size: 16px
		.icon
			position: absolute
			top: -8px
			left: -40px
		&:before
			content: ''
			position: absolute
			top: -8px
			left: -40px
			width: 36px
			height: 28px
			background: url('../img/png/quote.png') no-repeat center
			background-size: 100%
			+r(1023)
				top: 3px
	&__title
		margin-top: -5px
		margin-bottom: 20px
		+pre(1)
		+post(1)
		+gutter
		+museo-b
		font-size: 30px
		color: $black
		line-height: 45px
		text-transform: uppercase
		+r(1023)
			+pre(0)
			+post(0)
		+r(767)
			margin-bottom: 10px
			font-size: 25px
			line-height: 35px
	&__list
		+prefix(2)
		+suffix(2)
		+pre(-1 * gutter())
		+post(-1 * gutter())
		+r(1023)
			+gutter()
			+pre(0)
			+post(0)
	&__bg
		position: relative
		background: url('../img/content/blog-img-2.jpg') center center no-repeat
		background-size: cover
		&:before
			content: ''
			pointer-events: none
			position: absolute
			z-index: 0
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: rgba(248, 248, 248, 0.8)
		&-container
			position: relative
			height: 333px
			+vertical
			white-space: normal
			+r(1023)
				height: 220px
		&-inner
			margin-top: 45px
			display: inline-block
			width: 100%
			vertical-align: middle
			+r(767)
				margin-top: 0
		&-text
			+pre(3)
			+post(2.5)
			+gutter()
			font-size: 18px
			color: $black
			line-height: 28px
			font-style: italic
			+r(1023)
				+pre(2)
				+post(2)
			+r(767)
				+pre(0)
				+post(0)
				font-size: 16px
		&-author
			margin-top: 30px
			+post(2)
			+gutter
			font-size: 18px
			color: $black
			line-height: 28px
			text-align: right
			+r(767)
				margin-top: 5px
				font-size: 16px
	&__table-title
		+pre(1)
		margin-bottom: 25px
		+gutter
		+museo-b
		font-size: 25px
		color: $black
		line-height: 35px
		text-transform: uppercase
		+r(1023)
			+pre(0)
			padding-left: 0
			padding-right: 0
		+r(767)
			margin-bottom: 15px
			font-size: 20px
			line-height: 30px
	&__table
		overflow-y: auto
		+pre(1)
		+gutter()
		+r(1023)
			+pre(0)
			padding-left: 0
			padding-right: 0
	&__recommend
		margin-top: 30px
		+pre(-1 * gutter())
		+post(-1 * gutter())
		+r(639)
			margin-top: 20px
	&__recommend .block__item
		&:last-child
			+r(1023)
				display: none
			+r(479)
				display: block
		
.portfolio
	&__cards
		margin-top: 90px
		+r(1023)
			margin-top: 70px
		+r(767)
			margin-top: 20px
	
.load
	font-size: 0
	text-align: center
	&__icon
		display: inline-block
		width: 39px
		height: 39px
		background-color: #ffffff
		border: 6px solid #ffba00
		border-radius: 50%
	
.cards
	margin-left: -10px
	margin-right: -10px
	+pie-clearfix
	&__item
		+span(6)
		margin-bottom: 40px
		+suffix(20px)
		+r(767)
			+span(full)
			margin-bottom: 20px
		&:nth-child(odd)
			margin-top: -60px
			+r(1023)
				margin-top: -40px
			+r(767)
				margin-top: 0
	&__in
		overflow: hidden
		+ratio(560,342)
		box-shadow: none
		transition: all 0.2s
	&__image
		+ratio-in
		z-index: 1
		background-position: center center
		background-size: cover
	&__overlay
		+ratio-in
		z-index: 2
		background-color: rgba(246, 246, 246, .8)
		transition: all 0.2s
	&__text
		position: absolute
		left: 40px
		bottom: 35px
		+r(1023)
			left: 20px
			bottom: 15px
		+r(767)
			left: 15px
	&__topic
		font-size: 14px
		color: #434242
		line-height: 20px
		transition: all 0.2s
	&__desc
		margin-top: 10px
		+museo
		font-size: 25px
		color: $black
		line-height: 35px
		text-transform: uppercase
		transition: all 0.2s
		+r(1023)
			font-size: 20px
			line-height: 30px
	&__site
		display: block
	&__item:hover &__in
		box-shadow: 10px 10px 0#ff7b38
	&__item:hover &__overlay
		background-color: rgba(52, 52, 52, .8)
	&__item:hover &__topic,
	&__item:hover &__desc
		color: $white

.block
	+pie-clearfix
	font-size: 0
	&__item
		overflow: hidden
		display: block
		margin-bottom: 2*gutter()
		height: 210px
		+span(4)
		+r(1023)
			+span(6)
		+r(479)
			+span(full)
			margin-bottom: gutter()
		&_width
			+span(8)
			+r(1023)
				+span(6)
			+r(479)
				+span(full)
	&__row_left-2 &__item + &__item
		+span(4)
	&__in
		overflow: hidden
		height: 100%
		position: relative
	&__image
		+ratio-in
		z-index: 1
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
	&__overlay
		+ratio-in
		z-index: 2
		background-color: rgba(63, 33, 32, .7)
		transition: all 0.2s
	&__text
		position: absolute
		left: 30px
		right: 30px
		bottom: 25px
		+museo
		font-size: 20px
		color: $white
		line-height: 30px
		text-transform: uppercase
	&__item_height
		height: 440px
		+r(479)
			height: 210px
	&__item_width,
	&__item_medium
		height: 350px
		+r(767)
			height: 210px
	&__item:hover &__overlay,
	&__item.is-active &__overlay
		background-color: rgba(255, 123, 56, .7)
			
.list
	font-size: 14px
	color: $dimgrey
	line-height: 26px
	&__item
		position: relative
		+prefix(gutter())
		+suffix(gutter())
		& + &
			margin-top: 20px
	&_mark &__item
		&:before
			content: ''
			position: absolute
			left: 0
			top: 6px
			width: 11px
			height: 12px
			background: url('../img/png/done.png') no-repeat center
			background-size: 100%
	&_numeric
		list-style-type: decimal
		color: #ff7b38
		+pre(0)
		+post(0)
	&_numeric &__item
		+gutter(0)
		&-text
			color: $dimgrey
		
.table
	display: table
	width: 100%
	min-width: 1018px
	table-layout: auto
	&__thead
		display: table-header-group
		background-color: #ffba00
		font-size: 18px
		color: $black
		line-height: 28px
	&__thead &__td
		padding-top: 17px
		padding-bottom: 16px
	&__tbody
		display: table-row-group
		font-size: 14px
		color: $dimgrey
		line-height: 26px
	&__tbody &__td
		padding-top: 14px
		padding-bottom: 13px
	&__tr
		display: table-row
	&__tbody &__tr
		&:nth-child(even)
			background-color: #e2e2e2
	&__td
		display: table-cell
		text-align: left
		padding-left: 30px
		
.socials
	text-align: center
	font-size: 0
	&__title
		display: inline-block
		margin-right: 12px
		font-size: 14px
		color: $dimgrey
		line-height: 26px
		vertical-align: middle
	&__list
		display: inline-block
		vertical-align: middle
	&__item
		display: inline-block
		& + &
			margin-left: 6px
	& + .title
		margin-top: 35px
		

/* ===================================
	 Form
	 =================================== */
.feedback
	background-color: #ff8400
	&__title
		margin-bottom: 25px
		margin-left: auto
		margin-right: auto
		max-width: 661px
		+museo-b
		font-size: 30px
		color: $white
		line-height: 1.5
		text-align: center
		text-transform: uppercase
		+r(767)
			margin-bottom: 15px
			font-size: 25px
			line-height: 35px
	&__subtitle
		margin-bottom: 30px
		margin-left: auto
		margin-right: auto
		max-width: 661px
		font-size: 20px
		color: $white
		line-height: 1.5
		text-align: center
		+r(767)
			margin-bottom: 20px
			font-size: 14px
			line-height: 24px
	&__form
		margin-left: auto
		margin-right: auto
		max-width: 661px
		
.form
	padding: 40px
	background-color: #ffffff
	+r(767)
		padding: 20px 10px 30px
	&__field
		+pie-clearfix
		& + &
			margin-top: 25px
			+r(767)
				margin-top: 20px
		&_submit
			text-align: center
	&__desc
		margin-bottom: 10px
		font-size: 16px
		color: #515151
		line-height: 1.5
		+r(767)
			margin-bottom: 8px
		&_lg
			text-transform: uppercase
			+r(767)
				text-transform: none
	&__input
		width: 100%
		padding: 0 20px
		height: 48px
		font-size: 16px
		color: #787d7c
		line-height: 48px
		border: 2px solid #c5ccca
		+r(767)
			height: 40px
			line-height: 40px
	&__select-style
		position: relative
		&:before
			content: ''
			position: absolute
			z-index: 1
			right: 22px
			top: 50%
			margin-top: -2px
			+arr(9,5,#ff8400,b)
	&__select
		appearance: none
		padding: 0 53px 0 20px
		width: 100%
		height: 48px
		font-size: 16px
		color: #787d7c
		line-height: 48px
		border: 2px solid #c5ccca
		border-radius: 0
		background-color: transparent
		+r(767)
			height: 40px
			line-height: 40px
	&__radio
		display: none
		&-label
			cursor: pointer
			position: relative
			display: inline-block
			padding-left: 24px
			font-size: 16px
			color: #787d7c
			line-height: 24px
			&:before
				content: ''
				position: absolute
				z-index: 1
				left: 0
				top: 3px
				width: 12px
				height: 12px
				border: 2px solid #ff8400
				border-radius: 50%
		&:checked + &-label
			&:after
				content: ''
				position: absolute
				z-index: 2
				left: 5px
				top: 8px
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: #ff8400
	&__row
		+pie-clearfix
	&__col
		float: left
		margin-right: 35px
	&__file
		display: none
		&-label
			cursor: pointer
			+museo
			font-size: 16px
			color: #ff8400
			line-height: 24px
			font-weight: bold
		&-text
			margin-left: 8px
			display: inline-block
			color: $black
			text-decoration: underline
			font-weight: normal
		&-name
			font-size: 14px
			color: #787d7c
			line-height: 20px
	&__area
		display: block
		padding: 10px 20px
		width: 100%
		height: 260px
		font-size: 16px
		color: #787d7c
		line-height: 24px
		resize: none
		border: 2px solid #c5ccca
		+r(767)
			height: 245px

/* ===================================
	 About
	 =================================== */
.about
	&__image
		position: relative
		height: 446px
		background-position: center center
		background-size: cover
		+r(767)
			height: 324px
		&:after
			content: ''
			+ratio-in
			z-index: 0
			background-color: rgba(246, 246, 246, .7)
	&__desc
		position: absolute
		left: 25px
		right: 45px
		bottom: 20px
		text-transform: uppercase
	&__title
		position: relative
		margin-top: -240px
		margin-bottom: 25px
		+pre(2)
		+post(3)
		+gutter
		text-transform: uppercase
		+r(1023)
			+pre(1)
			+post(1)
		+r(767)
			+pre(0)
			margin-bottom: -40px
		&-lg
			position: relative
			z-index: 1
			margin-top: -160px
			+museo-b
			font-size: 35px
			color: $black
			line-height: 50px
			+r(767)
				margin-top: 0
				font-size: 25px
				line-height: 35px
		&-md
			position: relative
			z-index: 1
			+museo
			font-size: 30px
			color: $black
			line-height: 50px
			+r(767)
				font-size: 20px
				line-height: 35px
	&__count
		position: relative
		left: -10px
		+museo-b
		font-size: 350px
		color: $white
		line-height: 1
	&__row
		+pie-clearfix
	&__col
		+span(6 no-gutters)
		padding-right: 55px
		+r(1023)
			+span(full no-gutters)
			padding-right: 0
		&:nth-child(even)
			padding-left: 10px
			padding-right: 45px
			+r(1023)
				padding-left: 0
				padding-right: 0
	&__text
		margin-bottom: 40px
		+r(1023)
			margin-bottom: 25px
		+r(767)
			margin-bottom: 20px
	&__info
		position: absolute
		z-index: 10
		top: 0
		right: 50%
		margin-right: -590px
		+museo
		font-size: 16px
		color: #555555
		line-height: 1
		+r(1199)
			right: 10px
			margin-right: 0
		+r(767)
			pointer-events: none
			margin-top: 52px
			left: 70px
			right: 70px
			text-align: center
	.slick-prev
		position: absolute
		z-index: 1
		left: 50%
		top: 0
		margin-left: -590px
		+r(1199)
			left: 10px
			margin-left: 0
		+r(767)
			margin-top: -10px
	.slick-next
		position: absolute
		z-index: 1
		right: 50%
		top: 0
		margin-right: -590px
		+r(1199)
			right: 10px
			margin-right: 0
		+r(767)
			margin-top: -10px
	.slick-arrow.slick-disabled
		opacity: 0.3
		
/* ===================================
	 Contacts
	 =================================== */
.contacts
	position: relative
	&__map
		margin-top: 0
		height: 860px
		max-height: 85vh
		+r(767)
			max-height: 50vh
	&__desc
		position: absolute
		z-index: 1
		top: 35px
		left: 50%
		margin-left: -590px
		+pie-clearfix
		+r(1199)
			left: 10px
			margin-left: 0
		+r(767)
			position: relative
			top: 0
			left: 0
			padding-top: 15px
			padding-bottom: 15px
			+gutter
			background-color: #ffffff
	&__info
		margin-top: 25px
		padding: 25px 130px 25px 30px
		font-size: 16px
		color: $black
		line-height: 24px
		background-color: #ffffff
		+r(767)
			margin-top: 5px
			padding: 0
		&-title
			color: #5e5e5e
			line-height: 28px
		&-text
			&:last-child
				text-decoration: underline
		&-text + &-title
			margin-top: 20px
			+r(767)
				margin-top: 15px
			
/* ===================================
	 Reviews
	 =================================== */
.reviews
	margin-top: 20px
	+r(1023)
		margin-top: 15px
		background-color: #f6f6f6
	&__item
		overflow: hidden
		display: table
		width: 100%
		min-height: 354px
		background-color: #f6f6f6
		transition: all 0.2s
		& + &
			margin-top: 30px
			+r(1023)
				margin-top: 0
		&:hover
			box-shadow: 10px 10px 0#ff7b38
	&__col
		position: relative
		padding-right: 10px
		height: 354px
		display: table-cell
		min-height: 100%
		width: 50%
		vertical-align: top
		+r(1023)
			height: auto
		& + &
			padding: 20px 30px 25px 20px
			&:before
				content: ''
				position: absolute
				z-index: 1
				left: -25px
				top: 50%
				margin-top: -15px
				+arr(15,30,#f6f6f6,l)
				+r(1023)
					content: none
					display: none
	&__item:nth-child(even) &__col
		padding: 20px 20px 25px 30px
		&:before
			content: ''
			position: absolute
			z-index: 1
			right: -25px
			top: 50%
			margin-top: -15px
			+arr(15,30,#f6f6f6,r)
			+r(1023)
				content: none
				display: none
	&__item:nth-child(even) &__col + &__col
		padding: 0 0 0 10px
		&:before
			content: none
			display: none
	&__item:nth-child(odd) &__col
		+r(1023)
			display: table-header-group
	&__item:nth-child(odd) &__col + &__col
		+r(1023)
			display: table-footer-group
	&__item:nth-child(even) &__col
		+r(1023)
			display: table-footer-group
	&__item:nth-child(even) &__col + &__col
		+r(1023)
			display: table-header-group
	&__image
		position: relative
		height: 100%
		background-position: center center
		background-size: cover
		+r(1023)
			height: 203px
		&:before
			content: ''
			pointer-events: none
			+ratio-in
			background-color: rgba(246,246,246,0.8)
			transition: all 0.2s
	&__item:hover &__image
		&:before
			background-color: rgba(52, 52, 52, .8)
			+r(639)
				background-color: rgba(246,246,246,0.8)
	&__watch
		position: absolute
		z-index: 1
		left: 0
		bottom: 0
		padding: 11px 20px 10px
		+museo-b
		font-size: 14px
		color: #ffffff
		line-height: 20px
		text-transform: uppercase
		background-color: #ffba00
		+r(1023)
			float: left
			position: relative
			margin-top: -41px
			font-size: 13px
	&__scan
		position: absolute
		z-index: 1
		right: 10px
		bottom: 0
		padding: 11px 20px 10px
		+museo-b
		font-size: 14px
		color: #ffffff
		line-height: 20px
		text-transform: uppercase
		background-color: #a1a1a1
		cursor: pointer
		+r(1023)
			float: right
			position: relative
			margin-top: -41px
			font-size: 13px
			right: 0
	&__item:nth-child(even) &__watch
		left: 10px
		+r(1023)
			left: 0
	&__item:nth-child(even) &__scan
		right: 0
	&__title
		margin-bottom: 25px
		+museo
		font-size: 25px
		color: $black
		line-height: 35px
		text-transform: uppercase
		+r(1023)
			margin-top: 15px
			font-size: 20px
			line-height: 30px
			margin-bottom: 10px
			padding-left: 10px
			padding-right: 10px
	&__text
		margin-bottom: 25px
		font-size: 14px
		color: $dimgrey
		line-height: 26px
		font-style: italic
		+r(1023)
			padding-left: 10px
			padding-right: 10px
		+r(1023)
			margin-bottom: 15px
	&__info
		border-top: 1px solid #e2e2e2
		padding-top: 25px
		font-size: 0
		+pie-clearfix
		+r(1023)
			padding: 15px 10px 20px
		+r(639)
			overflow: hidden
			margin-left: -40px
			padding-bottom: 0
	&__column
		+span(1 of 3 no-gutter)
		&:last-child
			text-align: right
			+r(639)
				text-align: left
		+r(639)
			display: inline-block
			margin-left: 40px
			margin-bottom: 20px
			float: none
			width: auto
			vertical-align: top
	&__name
		font-size: 16px
		color: $dimgrey
		font-weight: 700
		line-height: 26px
	&__vacancy
		font-size: 14px
		color: $dimgrey
		font-weight: 400
	&__inc
		font-size: 14px
		color: $dimgrey
		font-weight: 400
		line-height: 26px
	&__site
		font-size: 14px
		color: #292929
		font-weight: 400
		text-decoration: underline
		
.navigations
	display: none
	margin-top: 20px
	+pie-clearfix
	+r(1023)
		display: block
	.slick-prev
		float: left
	.slick-next
		float: right
	.slick-arrow.slick-disabled
		opacity: 0.3
	&__info
		+museo
		font-size: 16px
		color: #555555
		line-height: 20px
		text-align: center
	&_white &__info
		color: #ffffff
		

/* ===================================
	 Portfolio Inner
	 =================================== */
.promotion
	padding-top: 20px
	position: relative
	+r(767)
		padding-top: 0
	&__row
		+pie-clearfix
	&__prev
		margin-bottom: 30px
		display: inline-block
		font-size: 0
		+r(767)
			margin-bottom: 15px
		.icon
			font-size: 17px
	&__topic
		margin-bottom: 25px
		+pre(1)
		+gutter
		font-size: 14px
		color: #5e5e5e
		font-weight: 400
		line-height: 20px
		+r(1023)
			margin-bottom: 15px
		+r(767)
			+pre(0)
			padding-left: 0
			padding-right: 0
	&__title
		margin-bottom: 90px
		+pre(1)
		+gutter
		+museo-b
		font-size: 50px
		color: $black
		line-height: 65px
		text-transform: uppercase
		word-break: break-all
		+r(1023)
			font-size: 25px
			line-height: 35px
		+r(767)
			margin-bottom: 40px
			+pre(0)
			padding-left: 0
			padding-right: 0
	&__project
		+pre(2.25)
		+post(3)
		+r(1199)
			+pre(1)
		+r(1023)
			+post(2)
		+r(767)
			+pre(0)
			+post(0)
	&__img
		position: absolute
		z-index: -2
		top: 20px
		bottom: 110px
		right: 0
		width: 65%
		background-position: center center
		background-size: cover
		+r(1199)
			bottom: 150px
		+r(767)
			width: 80%
		&:before
			content: ''
			+ratio-in
			z-index: -1
			background-color: rgba(246,246,246,.8)

.project
	padding: 30px 15px 30px 35px
	border: 7px solid rgba(255, 132, 0, 0.8)
	+r(767)
		padding-left: 15px
		padding-right: 0
	&__title
		margin-bottom: 20px
		+museo-b
		font-size: 30px
		color: $black
		line-height: 45px
		text-transform: uppercase
		+r(1023)
			font-size: 20px
			line-height: 30px
	&__list
		font-size: 15px
		
.solution
	+pie-clearfix
	&__col
		+pre(1)
		+span(5)
		+r(1023)
			+span(11)
		+r(767)
			+pre(0)
			+span(12)
			padding-left: 0
			padding-right: 0
		& + &
			+r(1023)
				margin-top: 40px
	&__title
		position: relative
		display: inline-block
		margin-bottom: 20px
		+museo-b
		font-size: 30px
		color: $black
		line-height: 45px
		text-transform: uppercase
		+r(1023)
			margin-bottom: 15px
		+r(767)
			font-size: 25px
			line-height: 35px
		&:before
			content: ''
			position: absolute
			top: 50%
			margin-top: -4px
			width: 50vw
			right: 100%
			margin-right: 30px
			height: 8px
			background-color: #ffba00
			+r(1023)
				right: auto
				left: 100%
				margin-right: 0
				margin-left: 20px
				width: 100vw
	&__col:nth-child(even) &__title
		&:before
			right: auto
			left: 100%
			margin-left: 30px
			margin-right: 0
			background-color: #ff7b38
	&__text
		padding-right: 25px
		color: $dimgrey
		+r(767)
			padding-right: 10px
		
.process
	position: relative
	background-color: #f6f6f6
	&__item
		position: relative
	&__img
		+ratio-in
		z-index: 1
		background-position: center center
		background-size: cover
		&:before
			content: ''
			+ratio-in
			z-index: 1
			background-color: rgba(246, 246, 246, .85)
	&__container
		position: relative
		z-index: 2
		padding-bottom: 110px
		+r(767)
			padding-bottom: 80px
	&__title
		+pre(1)
		+gutter
		+r(767)
			padding-left: 0
			padding-right: 0
			+pre(0)
	&__text
		margin-bottom: 30px
		padding-right: 25px
		font-size: 13px
		color: #5e5e5e
		font-weight: 400
		line-height: 28px
		+r(767)
			margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	&__col
		margin-top: 10px
		+pre(1)
		+span(5)
		+r(767)
			+pre(0)
			+span(full)
			padding-left: 0
			padding-right: 0
		&:nth-child(even)
			margin-top: 170px
			+pre(0)
			+span(6)
			+r(767)
				margin-top: 15px
				+span(full)
				padding-left: 0
				padding-right: 0
	&__nav
		position: absolute
		z-index: 3
		left: 0
		right: 0
		bottom: 30px
		+pie-clearfix
		+r(767)
			bottom: 60px
		.slick-prev
			position: relative
			float: left
			left: 50%
			margin-left: -590px
			+r(1199)
				left: 10px
				margin-left: 0
		.slick-next
			position: relative
			float: right
			right: 50%
			margin-right: -590px
			+r(1199)
				right: 10px
				margin-right: 0
		.slick-arrow.slick-disabled
			opacity: 0.3
	&__info
		margin-top: 0
		+museo
		font-size: 16px
		color: #555555
		line-height: 20px
		text-align: center
		
.results
	background-color: #f6f6f6
	+r(767)
		background-color: transparent
	&__col
		+pre(1)
		+span(8)
		+gutter
		+r(767)
			+pre(0)
			+span(full)
			padding-left: 0
			padding-right: 0
		&:nth-child(even)
			+pre(0)
			+span(3)
			+r(767)
				+span(4)
				+pre(4)
				padding-left: 0
				padding-right: 0
				+r(639)
					+span(6)
					+pre(3)
					padding-left: 0
					padding-right: 0
				+r(479)
					+span(full)
					+pre(0)
					padding-left: 0
					padding-right: 0
	&__title
		margin-bottom: 10px
	&__text
		margin-bottom: 20px
		padding-right: 15px
		font-size: 14px
		line-height: 26px
		font-weight: 400
		color: $dimgrey
		&_orange
			font-size: 16px
			color: #ff7b38
			font-weight: 700
	&__subtitle
		margin-top: 40px
		margin-bottom: 25px
		font-size: 25px
		color: $dimgrey
		font-weight: 700
		line-height: 35px
		&-orange
			color: #ff7b38
	&__image
		+r(767)
			overflow-y: auto
	&__graph
		margin-left: -35px
		max-width: 100%
		height: auto
		+r(767)
			margin-left: 0
			max-width: none
			height: 100%
	&__doc
		position: relative
		margin-top: 70px
		cursor: pointer
		display: block
		+r(767)
			margin-top: 15px
		&:before
			content: ''
			+ratio-in
			z-index: 1
			background-color: rgba(246, 246, 246, .7)
			transition: all 0.2s
			+r(767)
				background-color: rgba(246, 246, 246, .5)
		&:after
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			width: 46px
			height: 46px
			background: url('../img/png/add.png') center center no-repeat
			background-size: 100% 100%
			z-index: 2
		&:hover
			&:before
				background-color: transparent
	&__img
		width: 100%
		height: auto
		
.review
	padding-bottom: 40px
	+r(767)
		background-color: #f6f6f6
	&_solution
		background-color: transparent
	&_promotion
		background-color: #f6f6f6
	&__title
		+pre(1)
		+gutter
		margin-bottom: 20px
		+r(767)
			+pre(0)
			+span(9)
			padding-left: 0
			padding-right: 0
	&_solution &__title,
	&_promotion &__title
		+pre(0)
		padding-left: 0
		padding-right: 0
	&__row
		+pie-clearfix
	&__col
		+pre(1)
		+span(2)
		+r(767)
			+span(4 last)
			+pre(0)
			padding-left: 0
			padding-right: 0
		&:nth-child(even)
			+pre(0)
			+span(9)
			+r(767)
				+span(8)
				padding-left: 0
				padding-right: 20px
	&_solution &__col,
	&_promotion &__col
		+pre(0)
	&__cert
		width: 100%
		height: auto
		+r(479)
			float: right
			height: 150px
			width: auto
	&__user
		display: table
		width: 100%
		margin-bottom: 25px
	&__avatar
		overflow: hidden
		display: table-cell
		width: 150px
		height: 150px
		border-radius: 50%
		+r(639)
			display: block
			margin-bottom: 20px
	&__img
		width: 100%
		height: auto
	&__info
		display: table-cell
		padding-left: 20px
		color: $dimgrey
		font-weight: 400
		vertical-align: middle
		+r(639)
			display: block
			padding-left: 0
	&__name
		font-size: 16px
		font-weight: 700
		line-height: 26px
	&__vacancy
		margin-bottom: 10px
		font-size: 14px
		line-height: 22px
	&__inc
		font-size: 14px
		line-height: 34px
		white-space: nowrap
	&__site
		display: inline-block
		font-size: 14px
		color: #292929
		line-height: 22px
		text-decoration: underline
	&__text
		font-size: 16px
		color: $dimgrey
		font-style: italic
		line-height: 30px
		+r(639)
			width: 100vw
			padding-right: 20px

.inform
	padding-top: 15px
	border-top: 3px solid #f6f6f6
	&__item
		+pie-clearfix
	&__el
		position: relative
		+pre(1)
		float: left
		width: 331px
		left: 10px
		margin-right: 25px
		+r(1023)
			margin-left: 20px
			left: 0
		+r(639)
			width: 274px
		&:before
			content: ''
			+ratio-in
			pointer-events: none
			z-index: 0
			background-color: rgba(246, 246, 246, .8)
			transition: all 0.2s
		&:hover
			&:before
				background-color: rgba(52,52,52,.8)
		& + &
			+pre(0)
			float: right
			left: 0
			margin-right: 0
			+r(1220)
				margin-right: 20px
			+r(767)
				margin-top: 20px
	&__img
		width: 100%
		height: auto
	&__text
		position: absolute
		z-index: 1
		left: 25px
		bottom: 20px
		+r(639)
			left: 20px
			bottom: 15px
	&__topic
		margin-bottom: 10px
		font-size: 14px
		color: #434242
		line-height: 20px
		transition: all 0.2s
	&__title
		+museo
		font-size: 20px
		color: $black
		line-height: 30px
		text-transform: uppercase
		transition: all 0.2s
	&__el:hover &__topic,
	&__el:hover &__title
		color: #ffffff
	.slick-prev
		position: absolute
		+pre(1)
		z-index: 10
		top: 50%
		margin-top: -12px
		left: -11px
		+r(1023)
			margin-left: 10px
		+r(767)
			top: 25%
	.slick-next
		position: absolute
		z-index: 10
		top: 50%
		margin-top: -12px
		right: -20px
		+r(1220)
			right: 0
		+r(767)
			top: 75%
	.slick-arrow.slick-disabled
		opacity: 0.3
		
/* ===================================
	 Landing Solution
	 =================================== */

/* Screen
	----------------------------------- */
.screen
	overflow: hidden
	position: relative
	height: 668px
	+r(639)
		max-height: 518px
	&__block
		position: absolute
		z-index: 1
		bottom: 0
		right: 50%
		margin-right: -590px
		padding: 50px
		width: 580px
		color: #ffffff
		background-color: #f26924
		+r(1199)
			right: 0
			margin-right: 0
			width: 50%
		+r(1023)
			width: 100%
		+r(639)
			padding: 30px 10px
		&-title
			+museo-b
			font-size: 35px
			line-height: 50px
			text-transform: uppercase
		&-subtitle
			+museo
			font-size: 30px
	&__cover
		+ratio-in
		z-index: 1
		width: 100%
		height: 100%
		z-index: 0
		background-position: center center
		background-size: cover
		&:before
			content: ''
			+ratio-in
			z-index: 2
			background-color: rgba(85, 85, 85, .7)
	&__video
		+ratio-in
		z-index: 1
		width: 100%
		height: 100%
		object-fit: cover
		background-position: center center
		background-size: contain
	&__content
		position: relative
		z-index: 2
	&__title
		color: #ffffff
		+r(639)
			font-size: 40px
			line-height: 45px

/* Presentation
	----------------------------------- */
.presentation
	display: table
	width: 100%
	&:after
		content: none
		display: none
	&__col
		+span(5)
		display: table-cell
		float: none
		vertical-align: middle
		& + &
			+span(7)
			display: table-cell
			float: none
		&:nth-child(1)
			+r(767)
				display: none
		&:nth-child(2)
			+span(full)
			padding-left: 0
			padding-right: 0
	&__img
		width: 100%
		height: auto
	&__text
		font-size: 13px
		color: #5e5e5e
		line-height: 28px
		& + &
			margin-top: 20px
			+r(767)
				margin-top: 10px

/* SEO
	----------------------------------- */
.seo
	position: relative
	padding-bottom: 20px
	color: #ffffff
	background: url('../img/content/seo-bg.jpg') center center no-repeat
	background-size: cover
	&:before
		content: ''
		+ratio-in
		z-index: 0
		background-color: rgba(55, 55, 55, .8)
	&__container
		position: relative
		z-index: 1
	&__title
		margin-bottom: 10px
	&__text
		margin-bottom: 30px
		font-size: 13px
		line-height: 28px
	&__row
		+pie-clearfix
	&__col
		+span(5.75 no-gutters)
		+r(767)
			+span(full no-gutters)
		& + &
			+r(1023)
				+pre(0.5)
			+r(767)
				margin-top: 20px
				+pre(0)
		&-title
			+museo-b
			margin-bottom: 15px
			font-size: 30px
			line-height: 45px
			text-transform: uppercase
			+r(1023)
				font-size: 25px
				line-height: 40px
	&__list
		font-size: 13px
		color: #ffffff
		.list__item
			& + &
				margin-top: 15px
				+r(1023)
					margin-top: 10px
		
/* KPI
	----------------------------------- */
.kpi
	padding-top: 20px
	padding-bottom: 40px
	&__title
		margin-bottom: 10px
	&__row
		+pie-clearfix
	&__col
		+span(6 no-gutters)
		+r(767)
			+span(full no-gutters)
		& + &
			+span(5.2 no-gutters)
			padding-left: 10px
			+r(767)
				margin-top: 20px
				+span(full no-gutters)
				padding-left: 0
	&__text
		padding-right: 30px
		font-size: 13px
		color: #5e5e5e
		line-height: 28px
		+r(767)
			line-height: 26px
		& + &
			margin-top: 20px
	&__quote
		position: relative
		margin-top: 10px
		padding: 20px 0
		font-size: 13px
		color: #5e5e5e
		line-height: 28px
		font-style: italic
		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 90px
			height: 4px
			background-color: #ffba00
		&:after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 90px
			height: 4px
			background-color: #ffba00
		
/* Whom
	----------------------------------- */
.whom
	position: relative
	background: transparent url('../img/bg/bg_0.jpg') center center no-repeat
	background-size: cover
	transform: translateZ(0)
	+r(1023)
		padding-bottom: 40px
	&:before
		content: ''
		position: absolute
		z-index: 0
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, .8)
	&_promotion
		&:before
			background-color: rgba(55, 55, 55, .8)
	&__container
		position: relative
		z-index: 1
		padding-bottom: 200px
		+r(1023)
			padding-bottom: 0
	&_promotion &__container
		padding-bottom: 130px
	&__bg
		display: none
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-position: center center
		background-size: cover
		background-color: #ffffff
		z-index: 0
		pointer-events: none
		transform: translateZ(0)
		+r(1023)
			&:first-child
				display: block
				z-index: 1
		&_1
			background-image: url('../img/bg/bg_1.jpg')
		&_2
			background-image: url('../img/bg/bg_2.jpg')
		&_3
			background-image: url('../img/bg/bg_3.jpg')
		&_4
			background-image: url('../img/bg/bg_4.jpg')
		&_5
			background-image: url('../img/bg/bg_5.jpg')
		&_6
			background-image: url('../img/bg/bg_6.jpg')
		&_7
			background-image: url('../img/bg/bg_7.jpg')
		&_8
			background-image: url('../img/bg/bg_8.jpg')
		&_9
			background-image: url('../img/bg/bg_9.jpg')
		&_10
			background-image: url('../img/bg/bg_10.jpg')
		&_11
			background-image: url('../img/bg/bg_11.jpg')
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			pointer-events: none
			background-color: rgba(255,255,255,.8)
	&_promotion &__bg
		&:before
			background-color: rgba(55,55,55,.8)
	&__title
		position: relative
		z-index: 1
		+r(1023)
			margin-bottom: 10px

.for
	font-size: 0
	margin-left: -30px
	&__item
		cursor: pointer
		position: relative
		z-index: 1
		+pre(0.7)
		+span(3.2)
		padding: 30px
		float: none
		display: inline-block
		vertical-align: top
		transition: transform 0.3s
		+r(1023)
			float: left
			+pre(0)
			width: auto
			padding-top: 0
			padding-bottom: 100px
			+gutter
		&:hover,
		&.is-active
			background-color: #ffffff
			transform: translateY(-20px)
			+r(1023)
				background-color: transparent
				transform: translateY(0)
	&_4 &__item
		+pre(0)
		+span(3)
		padding-left: 30px
		padding-right: 15px
		float: none
		display: inline-block
		+r(1199)
			+span(4 no-gutters)
			float: none
			display: inline-block
		+r(1023)
			padding-bottom: 20px
		&:focus
			outline: none
	&_promotion &__item
		+span(4 no-gutters)
		float: none
		display: inline-block
		+pre(0)
		padding-left: 30px
		padding-right: 15px
		+r(1023)
			padding-bottom: 20px
		&:focus
			outline: none
	&__img
		position: relative
		margin-bottom: 18px
		font-size: 0
		width: 87px
		height: 87px
		border-radius: 50%
		border: 3px solid $orange
		text-align: center
		transition: all 0.3s
		+vertical
		.icon
			font-size: 45px
			color: $orange
			vertical-align: middle
			transition: all 0.3s
	&_promotion &__img
		background-color: $orange
		.icon
			color: #ffffff
	&__item:nth-child(6) &__img
		.icon
			font-size: 35px
	&__item:nth-child(8) &__img
		.icon
			font-size: 35px
	&__item:nth-child(11) &__img
		.icon
			font-size: 25px
	&__item:hover &__img
		background-color: $orange
		+r(1023)
			background-color: transparent
		.icon
			color: $white
			+r(1023)
				color: $orange
	&_promotion &__item.is-active &__img,
	&_promotion &__item:hover &__img
		background-color: transparent
		+r(1023)
			background-color: $orange
		.icon
			color: $orange
			+r(1023)
				color: #ffffff
	&__title
		+museo
		color: $grey-text
		font-size: 16px
		line-height: 24px
	&_4 &__title
		padding-right: 35px
	&_promotion &__title
		color: #ffffff
	&_promotion &__item.is-active &__title
		color: $grey-text
		+r(1023)
			color: #ffffff
	&__hidden
		position: absolute
		padding: 0 30px 30px
		left: 0
		right: 0
		top: 100%
		margin-top: -1px
		overflow: hidden
		display: none
		background-color: #ffffff
		transform: translateZ(0)
		+r(1023)
			display: block
			position: relative
			padding: 0
			top: auto
			margin-top: 20px
			background-color: transparent
	&__desc
		font-family: 'PT Sans', $default-fonts
		font-size: 14px
		color: #6b6b6b
		font-weight: 400
		line-height: 26px
	&_promotion &__desc
		+r(1023)
			color: #ffffff
	&__btn
		position: relative
		font-family: 'PT Sans', $default-fonts
		display: inline-block
		font-size: 14px
		line-height: 26px
		color: $orange
		text-decoration: underline
		&:before
			content: '→'
			position: absolute
			top: 0
			right: -20px
			transition: all 0.2s
		&:hover
			text-decoration: underline
			&:before
				right: -25px
	.for__prev,
	.for__next
		position: absolute
		z-index: 10
		bottom: 50px
		font-size: 0
		.icon
			font-size: 21px
			color: $orange-dark
		&.slick-disabled
			opacity: 0.3
	.for__prev
		left: gutter()
		transform: rotate(180deg)
	.for__next
		right: gutter()

.paging
	display: none
	position: absolute
	left: 50%
	bottom: 52px
	color: #555555
	+museo
	font-size: 16px
	line-height: 1
	width: 30%
	text-align: center
	transform: translateX(-50%)
	+r(1023)
		display: block

/* PF
	----------------------------------- */
.pf
	border-top: 3px solid #f6f6f6
	padding-bottom: 20px
	&__h2
		margin-bottom: 10px
	&__slider
		margin-left: -20px
		margin-right: -20px
	&__item
		margin-left: 20px
		margin-right: 20px
		+pie-clearfix
	&__el
		position: relative
		display: block
		&:before
			content: ''
			+ratio-in
			pointer-events: none
			z-index: 0
			background-color: rgba(246, 246, 246, .8)
			transition: all 0.2s
		&:hover
			&:before
				background-color: rgba(52,52,52,.8)
	&__img
		width: 100%
		height: auto
	&__text
		position: absolute
		z-index: 1
		left: 35px
		bottom: 30px
		+r(639)
			left: 20px
			bottom: 15px
	&__topic
		margin-bottom: 10px
		font-size: 14px
		color: #434242
		line-height: 20px
		transition: all 0.2s
	&__title
		+museo
		font-size: 25px
		color: $black
		line-height: 35px
		text-transform: uppercase
		transition: all 0.2s
		+r(639)
			font-size: 20px
			line-height: 35px
	&__el:hover &__topic,
	&__el:hover &__title
		color: #ffffff
	&__navigations
		margin-top: 30px
		display: block
		
/* Request
	----------------------------------- */
.request
	padding: 0 30px
	text-align: center
	background-color: #ffba00
	+r(374)
		padding: 0 10px
	&__btn
		+r(374)
			display: block

/* Starter
	----------------------------------- */
.starter
	font-size: 13px
	color: #5e5e5e
	line-height: 28px
	padding-bottom: 40px
	&__title
		margin-bottom: 15px
	&__row
		+pie-clearfix
	&__col
		+span(6 no-gutters)
		padding-right: 30px
		+r(767)
			+span(full no-gutters)
			padding-right: 0
		& + &
			padding-right: 0
			padding-left: 10px
			+r(767)
				+span(full no-gutters)
					padding-left: 0
	&__text
		& + &
			margin-top: 30px
			+r(767)
				margin-top: 15px

/* ===================================
	 Other Styles
	 =================================== */

