footer.footer.js-footer
	.footer__container.container
		span.footer__copy &copy; 2016, MadMonks
		nav.footer-nav
			a.footer-nav__link(href='#')
				+i('vk-original')
			a.footer-nav__link(href='#')
				+i('tw-original')
			a.footer-nav__link(href='#')
				+i('fb-original')
