header.header
	.header__top
		.container
			.header__col
				// begin logo
				.header__logo.logo
					a.logo__link(href="index.html")
						.logo__img
							+i('logo')
						.logo__text
							+i('logo-text')
				// end logo
			.header__col
				a.header__phone(href='tel:+79091222545')
					+i('phone')
					span.header__phone-text +7 909 122-25-45
			.header__col
				a.header__mail(href='mailto:manager@madmonks.ru')
					+i('mail')
					span.header__mail-text manager@madmonks.ru
			.header__col
				a.header__btn.btn.btn_yellow(href='#') оставить заявку
	.header__footer
		.header__container.container
			//begin menu
			nav.menu.js-menu
				a.menu__link(data-index='1' href='#') Мы
				a.menu__link.menu__link_parent.js-menu-parent(data-index='2' href='#') Продвижение сайтов
				a.menu__link.menu__link_parent.js-menu-parent(data-index='3' href='#') Отраслевые решения
				a.menu__link(data-index='4' href='#') Другие услуги
				a.menu__link(data-index='5' href='#') Портфолио
				a.menu__link(data-index='7' href='#') Контакты
				a.menu__link.is-active(data-index='8' href='#') Блог
			//end menu
			////begin menus
			//.menus.js-menus(data-child='2')
			//	a.menus__link(href='#') Продвижение интернет-магазинов
			//	a.menus__link(href='#') Продвижение сайтов строительных компаний
			//	a.menus__link(href='#') Продвижение сайтов мебельных компаний
			//	a.menus__link(href='#') Продвижение сайтов промышленных и производственных компаний
			////end menus
			////begin menus
			//.menus.js-menus(data-child='3')
			//	a.menus__link(href='#') Отраслевые решения 1
			//	a.menus__link(href='#') Отраслевые сайтов решения test 2
			//	a.menus__link(href='#') Отраслевые решения 3
			//	a.menus__link(href='#') Продвижение Отраслевые решения 4
			//	a.menus__link(href='#') Сайтов промышленных Отраслевые решения 5
			//	a.menus__link(href='#') Отраслевые решения 6
			//	a.menus__link(href='#') Отраслевые решения 7
			//	a.menus__link(href='#') сайтов мебельных Отраслевые решения 8
			//	a.menus__link(href='#') Отраслевые решения 10
			//	a.menus__link(href='#') Сайтов Отраслевые решения 11
			//	a.menus__link(href='#') Отраслевые решения 12
			////end menus
