extend includes/_layout
block title
	title 404
block content
	block mainw
		main.main.none.js-main
			a.none__logo(href='#')
				+i('logo')
			.none__404 404
			.none__text К сожалению, запрашиваемой Вами страницы не существует на нашем сайте
			.none__footer Если ты не видишь чего-то, то это не значит, что этого нет.
block header
block js
block footer