extend includes/_layout
block title
	title Blog Content
block content
	//begin blog
	.blog
		.blog__start
			img.blog__start-img(src='img/content/blog-img.jpg' alt='img')
			.blog__start-overlay
				.blog__container.container
					a.blog__start-link(href='#') Блоги
					.blog__start-title вот и наступило горячее время летних заказов
		.blog__content.blog__container.container
			p.blog__text.blog__text_letter.blog__text_center Сегодняшний выпуск будет о том, когда и как следует перенаправлять трафик на другие страницы, каким образом снизить коэффициент отказов в различных нишах, чтобы ранжироваться в поиске выше. Например, для досок объявлений (даже очень успешных) хорошо работает создание категорий. Мы берем трафик, который попадает на конкретное объявление — обычно это трафик высокоотказной. Группируем этот трафик, создаем страницы и на них уже больше объявлений. Такие страницы получают гораздо меньшее количество отказов. Если этой логики нельзя придерживаться на вашем сайте, то нужно работать непосредственно с самой страницей. То есть либо мы создаем категории, либо поднимаем кликабельность.
			p.blog__quote Если вы посмотрите на выдачу, вы увидите, что в основном ранжируются категории, в которых контент уходит на второй план, а на первый план выводятся фотографии, за счет которых улучшаются показатели отказов. Соответственно, есть некоторые фишки, которые можно использовать для контентных проектов
			p.blog__text.blog__text_center Например, для досок объявлений (даже очень успешных) хорошо работает создание категорий. Мы берем трафик, который попадает на конкретное объявление — обычно это трафик высокоотказной. Группируем этот трафик, создаем страницы и на них уже больше объявлений. Такие страницы получают гораздо меньшее количество отказов. Если этой логики нельзя ссылка в контенте придерживаться на вашем сайте, то нужно работать непосредственно с самой страницей. То есть либо мы наведение на ссылку создаем категории, либо поднимаем кликабельность.
			.blog__title Какие решения могут быть в различных нишах?
			p.blog__text Например: если это сайт или категория на сайте, которая посвящена дизайну интерьера, нет смысла делать исключительно контентные страницы. Гораздо лучше добавлять туда побольше фотографий. Создание категорий. Чем больше будет категорий, в которых будет много контента, тем лучше.
			p.blog__text Если вы посмотрите на выдачу, вы увидите, что в основном ранжируются категории, в которых контент уходит на второй план, а на первый план выводятся фотографии, за счет которых улучшаются показатели отказов. Соответственно, есть некоторые фишки, которые можно использовать для контентных проектов — их используют очень крупные ресурсы (например, медицинские или англоязычные порталы).
			ul.blog__list.list
				li.list__item Для мобильной выдачи, для самых популярных статей мы часто используем пагинацию. Берем статью, разбиваем ее на какие-то категории — и ее нельзя просто так прочитать. Ее нужно, грубо говоря, листать. Таким образом улучшаются поведенческие факторы этой страницы. Это такой, может быть, метод на грани, но фактически за него не будет никаких санкций.
				li.list__item Если это десктопная версия страницы, она должна быть в основном посвящена фотографиям, картинкам. Это, например, перечень каких-то причесок (очень много такого графического контента). Очень хорошо будет работать отдельный pop-up в окне — когда мы нажимаем на картинку, мы можем посмотреть и все остальные картинки этой статьи. То есть не читать эту статью, а просто просмотреть изображения. Очень хорошо влияет на снижение коэффициента отказа.
				li.list__item Очень важно иногда просто поменять фотографии. Если, например, копирайтер просто подобрал фотографии для вашего сайта и вы видите большой коэффициент отказов, попробуйте подойти к этому процессу более серьезно и сделать так, чтобы фотографии подбирал тот человек, который разбирается в этой теме. Как правило, это тоже вроде бы неочевидный метод, но качество фотографий и их количество тоже очень влияют.
	//end blog