extend includes/_layout
block title
	title Blog Content
block content
	//begin blog
	.blog
		.blog__start
			.blog__start-container.container
				a.blog__start-link(href='#') Блоги
				.blog__start-title вот и наступило горячее время летних заказов
		.container.container_default.section
			p.blog__text.blog__text_letter.blog__text_center Сегодняшний выпуск будет о том, когда и как следует перенаправлять трафик на другие страницы, каким образом снизить коэффициент отказов в различных нишах, чтобы ранжироваться в поиске выше. Например, для досок объявлений (даже очень успешных) хорошо работает создание категорий. Мы берем трафик, который попадает на конкретное объявление — обычно это трафик высокоотказной. Группируем этот трафик, создаем страницы и на них уже больше объявлений. Такие страницы получают гораздо меньшее количество отказов. Если этой логики нельзя придерживаться на вашем сайте, то нужно работать непосредственно с самой страницей. То есть либо мы создаем категории, либо поднимаем кликабельность.
			p.blog__quote Если вы посмотрите на выдачу, вы увидите, что в основном ранжируются категории, в которых контент уходит на второй план, а на первый план выводятся фотографии, за счет которых улучшаются показатели отказов. Соответственно, есть некоторые фишки, которые можно использовать для контентных проектов
			p.blog__text.blog__text_center Например, для досок объявлений (даже очень успешных) хорошо работает создание категорий. Мы берем трафик, который попадает на конкретное объявление — обычно это трафик высокоотказной. Группируем этот трафик, создаем страницы и на них уже больше объявлений. Такие страницы получают гораздо меньшее количество отказов. Если этой логики нельзя ссылка в контенте придерживаться на вашем сайте, то нужно работать непосредственно с самой страницей. То есть либо мы наведение на ссылку создаем категории, либо поднимаем кликабельность.
			.blog__title Какие решения могут быть в различных нишах?
			p.blog__text Например: если это сайт или категория на сайте, которая посвящена дизайну интерьера, нет смысла делать исключительно контентные страницы. Гораздо лучше добавлять туда побольше фотографий. Создание категорий. Чем больше будет категорий, в которых будет много контента, тем лучше.
			p.blog__text Если вы посмотрите на выдачу, вы увидите, что в основном ранжируются категории, в которых контент уходит на второй план, а на первый план выводятся фотографии, за счет которых улучшаются показатели отказов. Соответственно, есть некоторые фишки, которые можно использовать для контентных проектов — их используют очень крупные ресурсы (например, медицинские или англоязычные порталы).
			ul.blog__list.list.list_mark
				li.list__item Для мобильной выдачи, для самых популярных статей мы часто используем пагинацию. Берем статью, разбиваем ее на какие-то категории — и ее нельзя просто так прочитать. Ее нужно, грубо говоря, листать. Таким образом улучшаются поведенческие факторы этой страницы. Это такой, может быть, метод на грани, но фактически за него не будет никаких санкций.
				li.list__item Если это десктопная версия страницы, она должна быть в основном посвящена фотографиям, картинкам. Это, например, перечень каких-то причесок (очень много такого графического контента). Очень хорошо будет работать отдельный pop-up в окне — когда мы нажимаем на картинку, мы можем посмотреть и все остальные картинки этой статьи. То есть не читать эту статью, а просто просмотреть изображения. Очень хорошо влияет на снижение коэффициента отказа.
				li.list__item Очень важно иногда просто поменять фотографии. Если, например, копирайтер просто подобрал фотографии для вашего сайта и вы видите большой коэффициент отказов, попробуйте подойти к этому процессу более серьезно и сделать так, чтобы фотографии подбирал тот человек, который разбирается в этой теме. Как правило, это тоже вроде бы неочевидный метод, но качество фотографий и их количество тоже очень влияют.

		.blog__bg
			.blog__bg-container.container
				.blog__bg-inner
					.blog__bg-text Если вы что-то делаете, вы должны сжечь себя целиком, как хороший костер, который не оставляет за собой никаких следов.
					.blog__bg-author Д.Т.Судзуки

		.container.section
			ul.blog__list.list.list_numeric
				li.list__item
					p.list__item-text Если у вас какой-то каталог, например, с детскими именами, или подобный тип контента, очень хорошо работают различные инструменты, такие как «Добавить», «Wishlist». Что-то, чем вы можете управлять на самом сайте, каким-то образом сохранять контент или добавлять его в Избранное и т.д.
				li.list__item
					p.list__item-text Различные всплывающие pop-up, например, предложение подписаться на блог. Достаточно сильно влияет на отказы, но хорошо монетизируется. В определенный момент нужно находить компромиссы и решать: расти или зарабатывать.
				li.list__item
					p.list__item-text Добавление уникальных инструментов. Таких как отзывы, фото, галлереи фотографий, алгоритм работы («до» и «после») Подойдет для сайта услуг. Это достаточно сложная тема для SEO-специалистов, потому что обычно они не задумываются о таких вещах и не могут точно сказать, что качественно может улучшить страницу вашего сайта, так как очень часто не знают продукта.

		.container.section
			h3.blog__table-title заголовок h3 25px size
			.blog__table
				//begin table
				.table
					.table__thead
						.table__tr
							.table__td Заголовок 1
							.table__td Заголовок 2
							.table__td Заголовок 3
							.table__td Заголовок 4
							.table__td Заголовок 5
					.table__tbody
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
						.table__tr
							.table__td Текст о чем то
							.table__td Бывает и такое тоже
							.table__td Цифра три тут есть
							.table__td Четыре гуся  за столом
							.table__td Пятеро и жвачка
				//end table

		.container.container_hr
			.section.section_hr
				//begin socials
				.socials
					.socials__title Поделиться:
					.socials__list
						a.socials__item(href='#')
							+i('vk')
						a.socials__item(href='#')
							+i('tw')
						a.socials__item(href='#')
							+i('fb')
						a.socials__item(href='#')
							+i('od')
						a.socials__item(href='#')
							+i('yt')
				//end socials
				.title.title_h2 рекомендуем глянуть
				//begin block
				.blog__recommend.block
					a.block__item(href='#')
						.block__in
							.block__image(style='background-image: url(img/content/recommend-1.jpg)')
							.block__overlay
								.block__text время ускользает сквозь пальцы словно песок
					a.block__item(href='#')
						.block__in
							.block__image(style='background-image: url(img/content/recommend-2.jpg)')
							.block__overlay
								.block__text летняя пора
					a.block__item(href='#')
						.block__in
							.block__image(style='background-image: url(img/content/recommend-3.jpg)')
							.block__overlay
								.block__text ранний подъем и поехали
				//end block
	//end blog

	//begin top
	.scrolling.js-to-top
		+i('top-original')
	//end top