extend includes/_layout
block title
	title Blog
block content
	//begin blog
	.blog
		.container.section
			h1.title.title_h2 блог
			//begin block
			.blog__recommend.block
				a.block__item.block__item_height(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-height.jpg)')
						.block__overlay
							.block__text вот и наступило горячее время летних заказов
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-1.jpg)')
						.block__overlay
							.block__text читай и развивайся
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-2.jpg)')
						.block__overlay
							.block__text как я отдохнул с семьёй
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-3.jpg)')
						.block__overlay
							.block__text улицы родного города
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-4.jpg)')
						.block__overlay
							.block__text моя столица - моя москва
				a.block__item.block__item_width(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-width.jpg)')
						.block__overlay
							.block__text уборка квартиры для ленивых
				a.block__item.block__item_medium(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/block-5.jpg)')
						.block__overlay
							.block__text трудности не помеха
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/recommend-1.jpg)')
						.block__overlay
							.block__text время ускользает сквозь пальцы словно песок
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/recommend-2.jpg)')
						.block__overlay
							.block__text летняя пора
				a.block__item(href='#')
					.block__in
						.block__image(style='background-image: url(img/content/recommend-3.jpg)')
						.block__overlay
							.block__text ранний подъем и поехали
			//end block
	//end blog