extend includes/_layout
block title
	title Contacts
block content
	//begin contacts
	.contacts
		.contacts__desc
			h1.contacts__title.title.title_h2 контакты
			.contacts__info
				.contacts__info-title Адрес:
				.contacts__info-text 115230, Россия, г. Москва, <br>Каширский проезд, д.13, стр.4
				.contacts__info-title Телефон:
				a.contacts__info-text(href='tel:+79091222545') +7 909 122-25-45
				.contacts__info-title Эл. адрес:
				a.contacts__info-text(href='mailto:manager@madmonks.ru') manager@madmonks.ru
		#map.contacts__map
	//end contacts
append js
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script.
		var myLatLng = [55.655729, 37.629142];
		ymaps.ready(init);
		var myMap;

		function init() {
			myMap = new ymaps.Map("map", {
				center: myLatLng,
				zoom: 16
			}, {
				searchControlProvider: 'yandex#search'
			}),
			myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
				hintContent: 'MadMonks'
			}, {
				iconLayout: 'default#image',
				iconImageHref: 'img/png/logo.png',
				iconImageSize: [35, 48],
				iconImageOffset: [-3, -48]
			});
			myMap.geoObjects.add(myPlacemark);
			myMap.behaviors.disable('scrollZoom');
			myMap.controls.remove('searchControl');
			myMap.controls.remove('trafficControl');
			myMap.controls.remove('typeSelector');
			myMap.controls.remove('fullscreenControl');
		}