extend includes/_layout
block title
	title 404
block content
	block main
		main.main
			div
				a(href='https://watch1k.github.io/Madmonks/build/index.html' target='_blank') 1. Главная
			div
				a(href='https://watch1k.github.io/Madmonks2/build/404.html' target='_blank') 2. 404 ошибка
			div
				a(href='https://watch1k.github.io/Madmonks2/build/about.html' target='_blank') 3. О нас
			div
				a(href='https://watch1k.github.io/Madmonks2/build/blog.html' target='_blank') 4. Блог
			div
				a(href='https://watch1k.github.io/Madmonks2/build/blog_content.html' target='_blank') 5. Блог статья
			div
				a(href='https://watch1k.github.io/Madmonks2/build/contacts.html' target='_blank') 6. Контакты
			div
				a(href='https://watch1k.github.io/Madmonks2/build/form.html' target='_blank') 7. Форма заявки
			div
				a(href='https://watch1k.github.io/Madmonks2/build/l_solution.html' target='_blank') 8. Отраслевые решения (Land #2)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/l_promotion.html' target='_blank') 9. Продвижение сайтов (Land #2)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/portfolio.html' target='_blank') 10. Портфолио
			div
				a(href='https://watch1k.github.io/Madmonks2/build/portfolio_inner.html' target='_blank') 11. Портфолио внутренняя
			div
				a(href='https://watch1k.github.io/Madmonks2/build/reviews.html' target='_blank') 12. Клиенты и отзывы
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_1.html' target='_blank') 13. land 1 (Land #1)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_2.html' target='_blank') 14. land 2 (Land #1)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_3.html' target='_blank') 15. land 3 (Land #1)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_4.html' target='_blank') 16. land 4 (Land #1)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_5.html' target='_blank') 17. land 5 (Land #1)
			div
				a(href='https://watch1k.github.io/Madmonks2/build/land_6.html' target='_blank') 18. land 6 (Land #1)
block header
block js
block footer