extend includes/_layout
block navToggle
	-var navToggle = 'Отраслевые решения'
block title
	title Land Solution
block content
	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/video/land.jpg)')
			video.screen__video.js-video(autoplay muted loop poster="img/video/land.jpg")
				source(src="img/video/land.mp4" type="video/mp4")
		.screen__content.container
			h1.screen__title.title.title_h2.title_white Отраслевые решения
	//end screen

	//begin presentation
	.presentation.container.section
		.presentation__col
			img.presentation__img(src='img/content/presentation-1.jpg' alt='image')
		.presentation__col.presentation__center
			p.presentation__text Мы имеем опыт практически во всех коммерческих тематиках. Те темы, где мы впервые, мы обязательно изучим, обучимся, разберем на косточки конкурентов.
			p.presentation__text Интернет-магазины, строительные услуги, продажа строительных материалов, услуги в сферах консалтинга, курсы иностранных языков, инжиниринговые услуги, ландшафтный дизайн и многое, многое другое.
	//end presentation

	//begin seo
	.seo
		.seo__container.container.section
			.seo__title.title.title_h2.title_white цели и задачи seo
			.seo__text Поисковая оптимизация возникла одновременно с появлением поисковиков в начале 1990-х годов. Тогда поисковые машины ориентировались в основном на контент размещенный на страницах веб-ресурсов, ключевые слова в мета-тегах, и еще некоторые внутренние факторы. Это привело к тому, что владельцы сайтов легко могли изменять свой сайт под поисковики так, что он занимал первые места в рейтинге. Таким образом, на первых местах начали появляться сайты недостойные внимания, и большинство поисковых систем пришли в упадок.
			.seo__row
				.seo__col
					h2.seo__col-title Основные задачи:
					ul.seo__list.list.list_mark
						li.list__item Поиск и охват потенциальной аудитории
						li.list__item Улучшение видимости сайта в поисковых системах
						li.list__item Увеличение притока посетителей на сайт
						li.list__item Улучшение сайта, как для пользователей, так и для поисковых систем
				.seo__col
					h2.seo__col-title Косвенные задачи:
					ul.seo__list.list.list_mark
						li.list__item Рост обращений от покупателей
						li.list__item Продвижение бренда в сети Интернет
						li.list__item Доверие к компании
	//end seo

	//begin kpi
	.kpi.section.container
		.kpi__title.title.title_h2 Продвижение по различным KPI
		.kpi__row
			.kpi__col
				.kpi__text В Москве существует сумасшедшее количество агентств, оказывающие услуги по продвижению и оптимизации сайтов. Тарифы и предложения у большинства схожи, но в SEO-отрасли существуют уже устоявшиеся показатели эффективности (KPI).
				p.kpi__text Мы предлагаем - продвижение по позициям, по трафику, по целевым действиям, новых сайтов, региональные, белое SEO.
			.kpi__col
				p.kpi__quote KPI (Key Performance Indicator) – это показатель достижения успеха в определенной деятельности или в достижении определенных целей. Можно сказать, что KPI – это количественно измеримый индикатор фактически достигнутых результатов.
	//end kpi

	//begin whom
	.whom.js-bg-container
		.whom__bg.whom__bg_1.js-bg
		.whom__bg.whom__bg_2.js-bg
		.whom__bg.whom__bg_3.js-bg
		.whom__bg.whom__bg_4.js-bg
		.whom__bg.whom__bg_5.js-bg
		.whom__bg.whom__bg_6.js-bg
		.whom__bg.whom__bg_7.js-bg
		.whom__bg.whom__bg_8.js-bg
		.whom__bg.whom__bg_9.js-bg
		.whom__bg.whom__bg_10.js-bg
		.whom__bg.whom__bg_11.js-bg
		.whom__container.container.section
			.whom__title.title.title_h2 отрасли
			.paging.js-slider-info
			ul.for.for_4.js-bg-list
				li.for__item
					.for__img
						+i('for-1')
					.for__text
						.for__title Продвижение интернет-магазинов
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-2')
					.for__text
						.for__title Продвижение сайтов строительных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-3')
					.for__text
						.for__title Продвижение сайтов мебельных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-4')
					.for__text
						.for__title Продвижение сайтов промышленных и производственных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-5-original')
					.for__text
						.for__title Продвижение юридических компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-6')
					.for__text
						.for__title Продвижение сайтов одежды
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-7')
					.for__text
						.for__title Продвижение сайтов медицинских компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-8')
					.for__text
						.for__title Продвижение сайтов автомобильной тематики
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-9')
					.for__text
						.for__title Продвижение сайтов бухгалтерских компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-10')
					.for__text
						.for__title Продвижение сайтов пиццерий
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-11-original')
					.for__text
						.for__title Продвижение сайтов такси
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
			.whom__navigations.navigations.js-navigations
				.navigations__info.js-navigations-info
	//end whom

	//begin review
	.review.review_solution.section
		.container
			.review__title.title.title_h2 отзыв клиента
		.review__slider.js-review
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-1.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-1.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-2.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-2.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-2.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-2.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-1.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-1.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
		.review__navigations.navigations.container.js-navigations
			.navigations__info.js-navigations-info
	//end review

	//begin pf
	.pf
		.pf__container.container.section
			.pf__h2.title.title_h2 портфолио
			.pf__slider.js-pf-slider
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/pf-1.jpg' alt='image')
						.pf__text
							.pf__topic Недвижимость
							h3.pf__title продвижениЕ сайта <br>cian.ru
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/inform-1.jpg' alt='image')
						.pf__text
							.pf__topic Спорт
							h3.pf__title продвижениЕ сайта <br>spotbox.ru
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/inform-1.jpg' alt='image')
						.pf__text
							.pf__topic Недвижимость
							h3.pf__title продвижениЕ сайта <br>cian.ru
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/inform-1.jpg' alt='image')
						.pf__text
							.pf__topic Спорт
							h3.pf__title продвижениЕ сайта <br>spotbox.ru
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/inform-1.jpg' alt='image')
						.pf__text
							.pf__topic Недвижимость
							h3.pf__title продвижениЕ сайта <br>cian.ru
				.pf__item
					a.pf__el(href='#')
						img.pf__img(src='img/content/inform-1.jpg' alt='image')
						.pf__text
							.pf__topic Спорт
							h3.pf__title продвижениЕ сайта <br>spotbox.ru
			.pf__navigations.navigations.js-navigations
				.navigations__info.js-navigations-info
	//end pf

	//begin request
	.request
		.container.section
			a.request__btn.btn.btn_transparent(href='#') оставить заявку
	//end request

