extend includes/_layout
block title
	title Land Solution
block content
	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/video/land.jpg)')
			video.screen__video.js-video(autoplay muted loop poster="img/video/land.jpg")
				source(src="img/video/land.mp4" type="video/mp4")
		.screen__content.container
			.title.title_h2.title_white Отраслевые решения
	//end screen

	//begin presentation
	.presentation.container.section
		.presentation__col
			img.presentation__img(src='img/content/presentation-1.jpg' alt='image')
		.presentation__col.presentation__center
			p.presentation__text Мы имеем опыт практически во всех коммерческих тематиках. Те темы, где мы впервые, мы обязательно изучим, обучимся, разберем на косточки конкурентов.
			p.presentation__text Интернет-магазины, строительные услуги, продажа строительных материалов, услуги в сферах консалтинга, курсы иностранных языков, инжиниринговые услуги, ландшафтный дизайн и многое, многое другое.
	//end presentation

	//begin seo
	.seo
		.seo__container.container.section
			.seo__title.title.title_h2.title_white цели и задачи seo
			.seo__text Поисковая оптимизация возникла одновременно с появлением поисковиков в начале 1990-х годов. Тогда поисковые машины ориентировались в основном на контент размещенный на страницах веб-ресурсов, ключевые слова в мета-тегах, и еще некоторые внутренние факторы. Это привело к тому, что владельцы сайтов легко могли изменять свой сайт под поисковики так, что он занимал первые места в рейтинге. Таким образом, на первых местах начали появляться сайты недостойные внимания, и большинство поисковых систем пришли в упадок.
			.seo__row
				.seo__col
					.seo__col-title Основные задачи:
					.seo__list.list.list_mark
						.list__item Поиск и охват потенциальной аудитории
						.list__item Улучшение видимости сайта в поисковых системах
						.list__item Увеличение притока посетителей на сайт
						.list__item Улучшение сайта, как для пользователей, так и для поисковых систем
				.seo__col
					.seo__col-title Косвенные задачи:
					.seo__list.list.list_mark
						.list__item Рост обращений от покупателей
						.list__item Продвижение бренда в сети Интернет
						.list__item Доверие к компании
	//end seo

	//begin kpi
	.kpi.section.container
		.kpi__title.title.title_h2 Продвижение по различным KPI
		.kpi__row
			.kpi__col
				.kpi__text В Москве существует сумасшедшее количество агентств, оказывающие услуги по продвижению и оптимизации сайтов. Тарифы и предложения у большинства схожи, но в SEO-отрасли существуют уже устоявшиеся показатели эффективности (KPI).
				p.kpi__text Мы предлагаем - продвижение по позициям, по трафику, по целевым действиям, новых сайтов, региональные, белое SEO.
			.kpi__col
				p.kpi__quote KPI (Key Performance Indicator) – это показатель достижения успеха в определенной деятельности или в достижении определенных целей. Можно сказать, что KPI – это количественно измеримый индикатор фактически достигнутых результатов.
	//end kpi

	//begin whom
	.whom.js-bg-container
		.whom__bg.whom__bg_1.js-bg
		.whom__bg.whom__bg_2.js-bg
		.whom__bg.whom__bg_3.js-bg
		.whom__bg.whom__bg_4.js-bg
		.whom__bg.whom__bg_5.js-bg
		.whom__bg.whom__bg_6.js-bg
		.whom__bg.whom__bg_7.js-bg
		.whom__bg.whom__bg_8.js-bg
		.whom__bg.whom__bg_9.js-bg
		.whom__bg.whom__bg_10.js-bg
		.whom__bg.whom__bg_11.js-bg
		.whom__container.container.section
			.whom__title.title.title_h2 отрасли
			.paging.js-slider-info
			ul.for.for_4.js-bg-list
				li.for__item
					.for__img
						+i('for-1')
					.for__text
						.for__title Продвижение интернет-магазинов
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-2')
					.for__text
						.for__title Продвижение сайтов строительных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-3')
					.for__text
						.for__title Продвижение сайтов мебельных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-4')
					.for__text
						.for__title Продвижение сайтов промышленных и производственных компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-5')
					.for__text
						.for__title Продвижение юридических компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-6')
					.for__text
						.for__title Продвижение сайтов одежды
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-7')
					.for__text
						.for__title Продвижение сайтов медицинских компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-8')
					.for__text
						.for__title Продвижение сайтов автомобильной тематики
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-9')
					.for__text
						.for__title Продвижение сайтов бухгалтерских компаний
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-10')
					.for__text
						.for__title Продвижение сайтов пиццерий
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
				li.for__item
					.for__img
						+i('for-11')
					.for__text
						.for__title Продвижение сайтов такси
						.for__hidden.js-for-hidden
							.for__desc Работаем с любыми (кроме запрещенных) тематиками интернет-магазинов: электроника, бытовые товары, игрушки, стройматериалы, лакокрасочные материалы, спортивное питание, мебель, одежда и т.д.
							a.for__btn(href='#') Подробнее
	//end whom