extend includes/_layout
block title
	title Portfolio Inner
block content
	.container.section
		//begin promotion
		.promotion
			.promotion__img(style='background-image: url(img/content/promotion-1.jpg)')
			.promotion__row
				a.promotion__prev(href='#')
					+i('prev')
			.promotion__topic Тематика: строительство
			h1.promotion__title продвижениЕ сайта <br>veloxstroyconsulting.ru
			//begin project
			.promotion__project.project
				h2.project__title задачи проекта
				//begin list
				ul.project__list.list.list_mark
					li.list__item Увеличить целевую посещаемость сайта минимум в 2 раза
					li.list__item Расширить число запросов, по которым пользователи приходят из поиска, в 3 раза
					li.list__item Вывести сайт по запросам «велокс», «velox» на 1-ое место
				//end list
			//end project
		//end promotion

	//begin solution
	.solution.container.section
		.solution__col
			h2.solution__title проблемы
			p.solution__text С точки зрения SEO сайт на старте был вообще не подготовлен: неуникальный контент, пустые страницы, одинаковые title по всему сайту, отсутствие заголовков H1. Кроме того, сайту было всего 2 (!) месяца, и в Яндексе он даже не был толком проиндексирован. В общем работы было очень много.
		.solution__col
			h2.solution__title решение
			p.solution__text Это оказался очень правильный клиент: понимая, что у сайта много проблем, а для их решения у нас мало времени, маркетолог ООО “ВСК” всегда старалась быть на связи. Быстро утверждались тексты. оперативно вносились изменения на сайт, исправно оплачивались счета. После напряжённой работы с проектом так приятно наблюдать, как клиент растёт и развивается!
	//end solution
	//begin process
	.process
		.process__slider.js-process
			.process__item
				.process__img(style='background-image: url(img/content/process-1.jpg)')
				.process__container.container.section
					.process__title.title.title_h2 процесс
					.process__row
						.process__col
							p.process__text Наша команда работает в digital и непосредственно в SEO с 2009 года. Мы специализируемся на 1ой поисковой системе России – Яндекс. Почему? Ответ прост -  большая аудитория пользователей Яндекса по сравнению с другими поисковыми системами, больше потенциальных посетителей на ваш ресурс, больше потенциальных клиентов, больше потенциальных продаж вашего продукта.
							p.process__text Да, на рынке существуют компании и специалисты, которые работают с момента основания самого Яндекса. По идее должен давить авторитет – грандиозный опыт прошлых лет, стопицот продвинутых проектов и т.д.
						.process__col
							p.process__text Мы не будем рассказывать, как специалисты продвигали сайты до 2009 года, т.к. эта информация не столь актуальна сейчас. Мы пережили времена глобальных изменений алгоритмов – переспам и переоптимизация, разные виды накруток, коммерческость сайта, «басни» Яндекса, что ссылки отключены, то включены, Минусински и прочая нечесть.
							p.process__text Нынешний тренд ведения интернет рекламы – performance marketing, где компании окучивают все каналы продаж – SEO, контекстная реклама, SMM, e-mail рассылки и прочее. Да, круто, но где гарантии, что в этих компаниях сидит грамотный отдел поисковой оптимизации? Да и не каждому бизнесу нужно это, не говоря о стоимости услуг за данный комплекс работ.
			.process__item
				.process__img(style='background-image: url(img/content/about-2.jpg)')
				.process__container.container.section
					.process__title.title.title_h2 аудитория
					.process__row
						.process__col
							p.process__text Наша команда работает в digital и непосредственно в SEO с 2009 года. Мы специализируемся на 1ой поисковой системе России – Яндекс. Почему? Ответ прост -  большая аудитория пользователей Яндекса по сравнению с другими поисковыми системами, больше потенциальных посетителей на ваш ресурс, больше потенциальных клиентов, больше потенциальных продаж вашего продукта. Наша команда работает в digital и непосредственно в SEO с 2009 года. Мы специализируемся на 1ой поисковой системе России – Яндекс. Почему? Ответ прост -  большая аудитория пользователей Яндекса по сравнению с другими поисковыми системами, больше потенциальных посетителей на ваш ресурс, больше потенциальных клиентов, больше потенциальных продаж вашего продукта.
							p.process__text Да, на рынке существуют компании и специалисты, которые работают с момента основания самого Яндекса. По идее должен давить авторитет – грандиозный опыт прошлых лет, стопицот продвинутых проектов и т.д.
						.process__col
							p.process__text Мы не будем рассказывать, как специалисты продвигали сайты до 2009 года, т.к. эта информация не столь актуальна сейчас. Мы пережили времена глобальных изменений алгоритмов – переспам и переоптимизация, разные виды накруток, коммерческость сайта, «басни» Яндекса, что ссылки отключены, то включены, Минусински и прочая нечесть.
							p.process__text Нынешний тренд ведения интернет рекламы – performance marketing, где компании окучивают все каналы продаж – SEO, контекстная реклама, SMM, e-mail рассылки и прочее. Да, круто, но где гарантии, что в этих компаниях сидит грамотный отдел поисковой оптимизации? Да и не каждому бизнесу нужно это, не говоря о стоимости услуг за данный комплекс работ.
			.process__item
				.process__img(style='background-image: url(img/content/land-3.jpg)')
				.process__container.container.section
					.process__title.title.title_h2 специалисты
					.process__row
						.process__col
							p.process__text Наша команда работает в digital и непосредственно в SEO с 2009 года. Мы специализируемся на 1ой поисковой системе России – Яндекс. Почему? Ответ прост -  большая аудитория пользователей Яндекса по сравнению с другими поисковыми системами, больше потенциальных посетителей на ваш ресурс, больше потенциальных клиентов, больше потенциальных продаж вашего продукта.
							p.process__text Да, на рынке существуют компании и специалисты, которые работают с момента основания самого Яндекса. По идее должен давить авторитет – грандиозный опыт прошлых лет, стопицот продвинутых проектов и т.д.
						.process__col
							p.process__text Мы не будем рассказывать, как специалисты продвигали сайты до 2009 года, т.к. эта информация не столь актуальна сейчас. Мы пережили времена глобальных изменений алгоритмов – переспам и переоптимизация, разные виды накруток, коммерческость сайта, «басни» Яндекса, что ссылки отключены, то включены, Минусински и прочая нечесть.
							p.process__text Нынешний тренд ведения интернет рекламы – performance marketing, где компании окучивают все каналы продаж – SEO, контекстная реклама, SMM, e-mail рассылки и прочее. Да, круто, но где гарантии, что в этих компаниях сидит грамотный отдел поисковой оптимизации? Да и не каждому бизнесу нужно это, не говоря о стоимости услуг за данный комплекс работ.
			.process__item
				.process__img(style='background-image: url(img/content/land-6.jpg)')
				.process__container.container.section
					.process__title.title.title_h2 комплекс выполняемых работ
					.process__row
						.process__col
							p.process__text Наша команда работает в digital и непосредственно в SEO с 2009 года. Мы специализируемся на 1ой поисковой системе России – Яндекс. Почему? Ответ прост -  большая аудитория пользователей Яндекса по сравнению с другими поисковыми системами, больше потенциальных посетителей на ваш ресурс, больше потенциальных клиентов, больше потенциальных продаж вашего продукта.
							p.process__text Да, на рынке существуют компании и специалисты, которые работают с момента основания самого Яндекса. По идее должен давить авторитет – грандиозный опыт прошлых лет, стопицот продвинутых проектов и т.д.
						.process__col
							p.process__text Мы не будем рассказывать, как специалисты продвигали сайты до 2009 года, т.к. эта информация не столь актуальна сейчас. Мы пережили времена глобальных изменений алгоритмов – переспам и переоптимизация, разные виды накруток, коммерческость сайта, «басни» Яндекса, что ссылки отключены, то включены, Минусински и прочая нечесть. Да, на рынке существуют компании и специалисты, которые работают с момента основания самого Яндекса. По идее должен давить авторитет – грандиозный опыт прошлых лет, стопицот продвинутых проектов и т.д.
							p.process__text Нынешний тренд ведения интернет рекламы – performance marketing, где компании окучивают все каналы продаж – SEO, контекстная реклама, SMM, e-mail рассылки и прочее. Да, круто, но где гарантии, что в этих компаниях сидит грамотный отдел поисковой оптимизации? Да и не каждому бизнесу нужно это, не говоря о стоимости услуг за данный комплекс работ.
		.process__nav.js-process-nav
			.process__info.js-process-info
	//end process

	//begin results
	.results
		.container.section
			.results__col
				.results__title.title.title_h2 Результаты
				.results__text.results__text_orange В результате 95% целевых запросов в ТОП-10 Яндекс, причём многие из них в ТОП-1 ПС Яндекс
				.results__text На момент составления кейса (ноябрь 2015г.) в ТОП-1 ПС Яндекс сайт находится по следующим запросам: дома из velox, дома велокс, дома из велокса, велокс цена дома, велокс цена, технология велокс цена, дома велокс отзывы, технология velox отзывы, технология велокс отзывы, проект дома по технологии velox, велокс проекты домов, проекты домов из велокса, velox проекты домов, несъемная опалубка velox цена, опалубка велокс купить, velox опалубка цена, несъемная опалубка velox купить, несъемная опалубка velox, несъемная опалубка velox велокс, несъемная опалубка велокс цена.
				h3.results__subtitle
					| Рост трафика на&nbsp;
					span.results__subtitle-orange 400 %
				.results__image
					img.results__graph(src='img/content/graph-1.png' alt='image')
			.results__col
				a.results__doc.js-img-popup(href='img/content/doc-1.jpg' title='MadMonks Document')
					img.results__img(src='img/content/doc-1.jpg' alt='image')
	//end results

	//begin review
	.review.section
		.container
			.review__title.title.title_h2 отзыв клиента
		.review__slider.js-review
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-1.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-1.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-2.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-2.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-2.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-2.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
			.review__row
				.container
					.review__col
						a.review__doc.js-img-popup(href='img/content/review-1.jpg' title='Отзыв')
							img.review__cert(src='img/content/review-1.jpg' alt='image')
					.review__col
						.review__user
							.review__avatar
								img.review__img(src='img/content/avatar.jpg' alt='image')
							.review__info
								.review__name Елена Букреева
								.review__vacancy Маркетолог
								.review__inc ООО "ВелоксСтройКонсалтинг"
								a.review__site(href='#') veloxstroyconsulting.ru
						.review__text «Мы очень довольны работой менеджера – получаем подробные отчеты, консультации по всем возникающим вопросам, видим, как быстро выполняются поставленные задачи. Результат нас устраивает. В ТОПе почти 80% целевых запросов, во много раз с момента старта продвижения увеличился трафик из поисковых систем, сайт приносит доход! Все просто супер, рекомендуем!»
		.review__navigations.navigations.container.js-navigations
			.navigations__info.js-navigations-info
	//end review

	//begin inform
	.inform
		.container.section
			.inform__slider.js-inform
				.inform__item
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Недвижимость
							.inform__title продвижениЕ сайта <br>cian.ru
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Спорт
							.inform__title продвижениЕ сайта <br>spotbox.ru
				.inform__item
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Недвижимость
							.inform__title продвижениЕ сайта <br>cian.ru
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Спорт
							.inform__title продвижениЕ сайта <br>spotbox.ru
				.inform__item
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Недвижимость
							.inform__title продвижениЕ сайта <br>cian.ru
					a.inform__el(href='#')
						img.inform__img(src='img/content/inform-1.jpg' alt='image')
						.inform__text
							.inform__topic Спорт
							.inform__title продвижениЕ сайта <br>spotbox.ru
	//end inform
