extend includes/_layout
block title
	title Portfolio
block content
	//begin portfolio
	.portfolio
		.container.section
			h1.title.title_h2 портфолио
			//begin cards
			.portfolio__cards.cards
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-1.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Спорт
								h3.cards__desc продвижениЕ сайта
									span.cards__site spotbox.ru
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-2.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Строительство
								h3.cards__desc продвижениЕ сайта
									span.cards__site veloxstroyconsulting.ru
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-3.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Недвижимость
								h3.cards__desc продвижениЕ сайта
									span.cards__site cian.ru
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-4.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Магазины
								h3.cards__desc продвижениЕ сайта
									span.cards__site adidas.ru
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-5.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Мобильные аксессуары
								h3.cards__desc продвижениЕ сайта
									span.cards__site sotovikm.ru
				a.cards__item(href='#')
					.cards__in
						.cards__image(style='background-image: url(img/content/pf-6.jpg)')
						.cards__overlay
							.cards__text
								.cards__topic Строительство
								h3.cards__desc продвижениЕ сайта
									span.cards__site stroiyana.ru
			//end cards
			.portfolio__load.load
				.load__icon
	//end portfolio