extend includes/_layout
block navToggle
	-var navToggle = ' '
block title
	title Land Promotion
block content
	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/content/land-2.jpg)')
		.screen__block.screen__block_tl
			.screen__block-title быстрее пули в топ.
			.screen__block-subtitle Кто лучше нас сделает работу? да никто! Мы лучшие в своем деле. <br>Мы сеошники!
	//end screen

	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/content/land-3.jpg)')
		.screen__block.screen__block_tr.screen__block_white
			.screen__block-title Кто лучше нас сделает работу? да никто! Мы лучшие в своем деле. <br>Мы сеошники!
			.screen__block-subtitle Быстрее пули в топ.
	//end screen

	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/content/land-4.jpg)')
		.screen__block.screen__block_bl.screen__block_green
			.screen__block-title быстрее пули в топ.
			.screen__block-subtitle Кто лучше нас сделает работу? да никто! Мы лучшие в своем деле. <br>Мы сеошники!
	//end screen

	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/content/land-5.jpg)')
		.screen__block.screen__block_br.screen__block_violet
			.screen__block-title быстрее пули в топ.
			.screen__block-subtitle Кто лучше нас сделает работу? да никто! Мы лучшие в своем деле. <br>Мы сеошники!
	//end screen

	//begin screen
	.screen.section
		.screen__cover(style='background-image: url(img/content/land-6.jpg)')
		.screen__block.screen__block_tl.screen__block_white
			.screen__block-title быстрее пули в топ.
			.screen__block-subtitle Кто лучше нас сделает работу? да никто! Мы лучшие в своем деле. <br>Мы сеошники!
	//end screen